nifi_xml/final_demo1.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>73556dca-015d-1000-5ccc-4edc3f958d91</groupId>
  <name>final_demo1</name>
  <snippet>
    <processGroups>
      <id>d6be35df-806f-3c8e-0000-000000000000</id>
      <parentGroupId>19d1ccaf-42f7-30a2-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <processGroups>
          <id>c6911ffa-0550-376e-0000-000000000000</id>
          <parentGroupId>d6be35df-806f-3c8e-0000-000000000000</parentGroupId>
          <position>
            <x>1166.3712746105987</x>
            <y>-164.90677792078083</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>d18dc4d8-3ef8-3a1e-0000-000000000000</id>
              <parentGroupId>c6911ffa-0550-376e-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>2087.914306640625</x>
                <y>400.2615661621094</y>
              </bends>
              <bends>
                <x>2087.914306640625</x>
                <y>490.8828430175781</y>
              </bends>
              <destination>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>3a463d6e-13d0-36e1-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>3a463d6e-13d0-36e1-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>04be6675-4ce0-3401-0000-000000000000</id>
              <parentGroupId>c6911ffa-0550-376e-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>2086.1817867790105</x>
                <y>261.3588093126185</y>
              </bends>
              <bends>
                <x>2086.1817867790105</x>
                <y>311.3588093126185</y>
              </bends>
              <destination>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>3a463d6e-13d0-36e1-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>3a463d6e-13d0-36e1-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>2041ceb9-2191-3638-0000-000000000000</id>
              <parentGroupId>c6911ffa-0550-376e-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>3a463d6e-13d0-36e1-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>2cd48a67-eaac-3460-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>6f281b87-2ed2-3e0f-0000-000000000000</id>
              <parentGroupId>c6911ffa-0550-376e-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>2940.4704817574498</x>
                <y>228.83760427386</y>
              </bends>
              <bends>
                <x>2940.4704817574498</x>
                <y>278.83760427386</y>
              </bends>
              <destination>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>82b39df8-0b97-3258-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>82b39df8-0b97-3258-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>70792152-9645-3460-0000-000000000000</id>
              <parentGroupId>c6911ffa-0550-376e-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>2cd48a67-eaac-3460-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>2ffc8547-67f4-3d93-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>75543a44-cc70-3840-0000-000000000000</id>
              <parentGroupId>c6911ffa-0550-376e-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>2079.4355704438285</x>
                <y>33.01303689594931</y>
              </bends>
              <bends>
                <x>2079.4355704438285</x>
                <y>83.01303689594931</y>
              </bends>
              <destination>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>2cd48a67-eaac-3460-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>not.found</selectedRelationships>
              <selectedRelationships>permission.denied</selectedRelationships>
              <source>
                <groupId>c6911ffa-0550-376e-0000-000000000000</groupId>
                <id>2cd48a67-eaac-3460-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <processors>
              <id>82b39df8-0b97-3258-0000-000000000000</id>
              <parentGroupId>c6911ffa-0550-376e-0000-000000000000</parentGroupId>
              <position>
                <x>2485.4704817574498</x>
                <y>188.83760427386</y>
              </position>
              <bundle>
                <artifact>nifi-mongodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Mongo URI</key>
                    <value>
                      <name>Mongo URI</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Mongo Database Name</key>
                    <value>
                      <name>Mongo Database Name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Mongo Collection Name</key>
                    <value>
                      <name>Mongo Collection Name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl-context-service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>ssl-context-service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl-client-auth</key>
                    <value>
                      <name>ssl-client-auth</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Mode</key>
                    <value>
                      <name>Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Upsert</key>
                    <value>
                      <name>Upsert</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Update Query Key</key>
                    <value>
                      <name>Update Query Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Write Concern</key>
                    <value>
                      <name>Write Concern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Mongo URI</key>
                    <value>mongodb://127.0.01:27017/</value>
                  </entry>
                  <entry>
                    <key>Mongo Database Name</key>
                    <value>testdb</value>
                  </entry>
                  <entry>
                    <key>Mongo Collection Name</key>
                    <value>tabletest</value>
                  </entry>
                  <entry>
                    <key>ssl-context-service</key>
                  </entry>
                  <entry>
                    <key>ssl-client-auth</key>
                    <value>REQUIRED</value>
                  </entry>
                  <entry>
                    <key>Mode</key>
                    <value>insert</value>
                  </entry>
                  <entry>
                    <key>Upsert</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Update Query Key</key>
                    <value>_id</value>
                  </entry>
                  <entry>
                    <key>Write Concern</key>
                    <value>ACKNOWLEDGED</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>PutMongo</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.mongodb.PutMongo</type>
            </processors>
            <processors>
              <id>2cd48a67-eaac-3460-0000-000000000000</id>
              <parentGroupId>c6911ffa-0550-376e-0000-000000000000</parentGroupId>
              <position>
                <x>1624.4355704438285</x>
                <y>-6.986963104050687</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>File to Fetch</key>
                    <value>
                      <name>File to Fetch</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Completion Strategy</key>
                    <value>
                      <name>Completion Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Move Destination Directory</key>
                    <value>
                      <name>Move Destination Directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Move Conflict Strategy</key>
                    <value>
                      <name>Move Conflict Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Log level when file not found</key>
                    <value>
                      <name>Log level when file not found</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Log level when permission denied</key>
                    <value>
                      <name>Log level when permission denied</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>File to Fetch</key>
                    <value>/home/shrihari/Downloads/asd/random.csv</value>
                  </entry>
                  <entry>
                    <key>Completion Strategy</key>
                    <value>None</value>
                  </entry>
                  <entry>
                    <key>Move Destination Directory</key>
                  </entry>
                  <entry>
                    <key>Move Conflict Strategy</key>
                    <value>Rename</value>
                  </entry>
                  <entry>
                    <key>Log level when file not found</key>
                    <value>ERROR</value>
                  </entry>
                  <entry>
                    <key>Log level when permission denied</key>
                    <value>ERROR</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>FetchFile</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>not.found</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>permission.denied</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.FetchFile</type>
            </processors>
            <processors>
              <id>2ffc8547-67f4-3d93-0000-000000000000</id>
              <parentGroupId>c6911ffa-0550-376e-0000-000000000000</parentGroupId>
              <position>
                <x>1605.179755268613</x>
                <y>-256.57015125454495</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Input Directory</key>
                    <value>
                      <name>Input Directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Recurse Subdirectories</key>
                    <value>
                      <name>Recurse Subdirectories</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Input Directory Location</key>
                    <value>
                      <name>Input Directory Location</name>
                    </value>
                  </entry>
                  <entry>
                    <key>File Filter</key>
                    <value>
                      <name>File Filter</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Path Filter</key>
                    <value>
                      <name>Path Filter</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Minimum File Age</key>
                    <value>
                      <name>Minimum File Age</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum File Age</key>
                    <value>
                      <name>Maximum File Age</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Minimum File Size</key>
                    <value>
                      <name>Minimum File Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum File Size</key>
                    <value>
                      <name>Maximum File Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Hidden Files</key>
                    <value>
                      <name>Ignore Hidden Files</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Input Directory</key>
                    <value>/home/shrihari/Downloads/asd</value>
                  </entry>
                  <entry>
                    <key>Recurse Subdirectories</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Input Directory Location</key>
                    <value>Local</value>
                  </entry>
                  <entry>
                    <key>File Filter</key>
                    <value>[^\.].*</value>
                  </entry>
                  <entry>
                    <key>Path Filter</key>
                  </entry>
                  <entry>
                    <key>Minimum File Age</key>
                    <value>0 sec</value>
                  </entry>
                  <entry>
                    <key>Maximum File Age</key>
                  </entry>
                  <entry>
                    <key>Minimum File Size</key>
                    <value>0 B</value>
                  </entry>
                  <entry>
                    <key>Maximum File Size</key>
                  </entry>
                  <entry>
                    <key>Ignore Hidden Files</key>
                    <value>true</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ListFile</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ListFile</type>
            </processors>
            <processors>
              <id>3a463d6e-13d0-36e1-0000-000000000000</id>
              <parentGroupId>c6911ffa-0550-376e-0000-000000000000</parentGroupId>
              <position>
                <x>1631.1817867790105</x>
                <y>221.35880931261852</y>
              </position>
              <bundle>
                <artifact>nifi-mongodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Mongo URI</key>
                    <value>
                      <name>Mongo URI</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Mongo Database Name</key>
                    <value>
                      <name>Mongo Database Name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Mongo Collection Name</key>
                    <value>
                      <name>Mongo Collection Name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl-context-service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>ssl-context-service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl-client-auth</key>
                    <value>
                      <name>ssl-client-auth</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Mode</key>
                    <value>
                      <name>Mode</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Upsert</key>
                    <value>
                      <name>Upsert</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Update Query Key</key>
                    <value>
                      <name>Update Query Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Write Concern</key>
                    <value>
                      <name>Write Concern</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Mongo URI</key>
                    <value>mongodb://127.0.01:27017/</value>
                  </entry>
                  <entry>
                    <key>Mongo Database Name</key>
                    <value>testdb</value>
                  </entry>
                  <entry>
                    <key>Mongo Collection Name</key>
                    <value>tabletest</value>
                  </entry>
                  <entry>
                    <key>ssl-context-service</key>
                  </entry>
                  <entry>
                    <key>ssl-client-auth</key>
                    <value>REQUIRED</value>
                  </entry>
                  <entry>
                    <key>Mode</key>
                    <value>insert</value>
                  </entry>
                  <entry>
                    <key>Upsert</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Update Query Key</key>
                    <value>_id</value>
                  </entry>
                  <entry>
                    <key>Write Concern</key>
                    <value>ACKNOWLEDGED</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>60 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>PutMongo</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.mongodb.PutMongo</type>
            </processors>
          </contents>
          <name>mongodb</name>
        </processGroups>
        <processGroups>
          <id>e646912d-4e8c-3d75-0000-000000000000</id>
          <parentGroupId>d6be35df-806f-3c8e-0000-000000000000</parentGroupId>
          <position>
            <x>1162.5085081554475</x>
            <y>303.4968647321697</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>06b83010-567d-33e4-0000-000000000000</id>
              <parentGroupId>e646912d-4e8c-3d75-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>1938.9514942055189</x>
                <y>-383.69255449227546</y>
              </bends>
              <bends>
                <x>1938.9514942055189</x>
                <y>-333.69255449227546</y>
              </bends>
              <destination>
                <groupId>e646912d-4e8c-3d75-0000-000000000000</groupId>
                <id>b3696280-136a-3fa8-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>e646912d-4e8c-3d75-0000-000000000000</groupId>
                <id>b3696280-136a-3fa8-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>552208f7-4c1b-3a1c-0000-000000000000</id>
              <parentGroupId>e646912d-4e8c-3d75-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e646912d-4e8c-3d75-0000-000000000000</groupId>
                <id>b3696280-136a-3fa8-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>e646912d-4e8c-3d75-0000-000000000000</groupId>
                <id>b152466d-0eeb-3dbf-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <processors>
              <id>b152466d-0eeb-3dbf-0000-000000000000</id>
              <parentGroupId>e646912d-4e8c-3d75-0000-000000000000</parentGroupId>
              <position>
                <x>1481.3836248470413</x>
                <y>-824.0940489399982</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Command</key>
                    <value>
                      <name>Command</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Command Arguments</key>
                    <value>
                      <name>Command Arguments</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Duration</key>
                    <value>
                      <name>Batch Duration</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Redirect Error Stream</key>
                    <value>
                      <name>Redirect Error Stream</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Argument Delimiter</key>
                    <value>
                      <name>Argument Delimiter</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Command</key>
                    <value>sh</value>
                  </entry>
                  <entry>
                    <key>Command Arguments</key>
                    <value>/home/shrihari/just_nifi/shellscript/hello.sh</value>
                  </entry>
                  <entry>
                    <key>Batch Duration</key>
                  </entry>
                  <entry>
                    <key>Redirect Error Stream</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Argument Delimiter</key>
                    <value> </value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ExecuteProcess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
            </processors>
            <processors>
              <id>b3696280-136a-3fa8-0000-000000000000</id>
              <parentGroupId>e646912d-4e8c-3d75-0000-000000000000</parentGroupId>
              <position>
                <x>1483.9514942055189</x>
                <y>-423.69255449227546</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Log Level</key>
                    <value>
                      <name>Log Level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Log Payload</key>
                    <value>
                      <name>Log Payload</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Attributes to Log</key>
                    <value>
                      <name>Attributes to Log</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Attributes to Ignore</key>
                    <value>
                      <name>Attributes to Ignore</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Log prefix</key>
                    <value>
                      <name>Log prefix</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Log Level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>Log Payload</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Attributes to Log</key>
                  </entry>
                  <entry>
                    <key>Attributes to Ignore</key>
                  </entry>
                  <entry>
                    <key>Log prefix</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogAttribute</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogAttribute</type>
            </processors>
          </contents>
          <name>Retention</name>
        </processGroups>
        <processGroups>
          <id>5319af9d-2f2b-3f1d-0000-000000000000</id>
          <parentGroupId>d6be35df-806f-3c8e-0000-000000000000</parentGroupId>
          <position>
            <x>1197.3167763322895</x>
            <y>-406.09356902681964</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>9b143ba6-6146-3ad6-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>2940.85006546105</x>
                <y>-56.416292821002</y>
              </bends>
              <bends>
                <x>2966.26513671875</x>
                <y>-43.30230712890625</y>
              </bends>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>487d08ed-dcd4-3f71-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>487d08ed-dcd4-3f71-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>baec7842-3442-3e25-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>f03ea7f3-3104-3b1b-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>92026ea8-c76e-374f-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d23347dc-1b2f-332b-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>defaa194-b417-35b3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>unmatched</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>487d08ed-dcd4-3f71-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d3b47141-d283-3e56-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>487d08ed-dcd4-3f71-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>f03ea7f3-3104-3b1b-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>e2b5b012-92f2-3b1e-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>3652.587646484375</x>
                <y>147.81256103515625</y>
              </bends>
              <bends>
                <x>3678.319580078125</x>
                <y>192.56378173828125</y>
              </bends>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>defaa194-b417-35b3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>defaa194-b417-35b3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>f9b66268-aa92-39e5-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>2932.855469562372</x>
                <y>130.36702183073953</y>
              </bends>
              <bends>
                <x>2932.855469562372</x>
                <y>180.36702183073953</y>
              </bends>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>1299c137-02e2-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>1299c137-02e2-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>16355890-b9d6-3360-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>2932.855469562372</x>
                <y>130.36702183073953</y>
              </bends>
              <bends>
                <x>2932.855469562372</x>
                <y>180.36702183073953</y>
              </bends>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>1299c137-02e2-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>1299c137-02e2-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>26a6fd7c-fc9a-34be-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>2929.416953451558</x>
                <y>-232.64292033411897</y>
              </bends>
              <bends>
                <x>2929.416953451558</x>
                <y>-182.64292033411897</y>
              </bends>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>f03ea7f3-3104-3b1b-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>f03ea7f3-3104-3b1b-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>3d8e28f7-6030-3a98-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>1299c137-02e2-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>487d08ed-dcd4-3f71-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>42dcda02-c634-37c3-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>3663.806397296747</x>
                <y>36.77620151823953</y>
              </bends>
              <bends>
                <x>3663.806397296747</x>
                <y>86.77620151823953</y>
              </bends>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>defaa194-b417-35b3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>defaa194-b417-35b3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>445e6507-4984-35f8-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>2921.63671875</x>
                <y>241.40338134765625</y>
              </bends>
              <bends>
                <x>2947.36865234375</x>
                <y>286.15460205078125</y>
              </bends>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>1299c137-02e2-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>1299c137-02e2-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>62f57226-0e60-3470-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>92026ea8-c76e-374f-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>5319af9d-2f2b-3f1d-0000-000000000000</groupId>
                <id>cf58e5ec-1417-3fb2-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <controllerServices>
              <id>d108a9a5-2061-367d-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <comments></comments>
              <descriptors>
                <entry>
                  <key>Schema Write Strategy</key>
                  <value>
                    <name>Schema Write Strategy</name>
                  </value>
                </entry>
                <entry>
                  <key>schema-access-strategy</key>
                  <value>
                    <name>schema-access-strategy</name>
                  </value>
                </entry>
                <entry>
                  <key>schema-registry</key>
                  <value>
                    <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                    <name>schema-registry</name>
                  </value>
                </entry>
                <entry>
                  <key>schema-name</key>
                  <value>
                    <name>schema-name</name>
                  </value>
                </entry>
                <entry>
                  <key>schema-text</key>
                  <value>
                    <name>schema-text</name>
                  </value>
                </entry>
                <entry>
                  <key>Date Format</key>
                  <value>
                    <name>Date Format</name>
                  </value>
                </entry>
                <entry>
                  <key>Time Format</key>
                  <value>
                    <name>Time Format</name>
                  </value>
                </entry>
                <entry>
                  <key>Timestamp Format</key>
                  <value>
                    <name>Timestamp Format</name>
                  </value>
                </entry>
                <entry>
                  <key>Pretty Print JSON</key>
                  <value>
                    <name>Pretty Print JSON</name>
                  </value>
                </entry>
              </descriptors>
              <name>JsonRecordSetWriter</name>
              <persistsState>false</persistsState>
              <properties>
                <entry>
                  <key>Schema Write Strategy</key>
                  <value>schema-name</value>
                </entry>
                <entry>
                  <key>schema-access-strategy</key>
                  <value>schema-name</value>
                </entry>
                <entry>
                  <key>schema-registry</key>
                  <value>24bcae88-b572-39ef-0000-000000000000</value>
                </entry>
                <entry>
                  <key>schema-name</key>
                  <value>${schema.name}</value>
                </entry>
                <entry>
                  <key>schema-text</key>
                  <value>${avro.schema}</value>
                </entry>
                <entry>
                  <key>Date Format</key>
                </entry>
                <entry>
                  <key>Time Format</key>
                </entry>
                <entry>
                  <key>Timestamp Format</key>
                </entry>
                <entry>
                  <key>Pretty Print JSON</key>
                  <value>false</value>
                </entry>
              </properties>
              <state>DISABLED</state>
              <type>org.apache.nifi.json.JsonRecordSetWriter</type>
            </controllerServices>
            <controllerServices>
              <id>24bcae88-b572-39ef-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <comments></comments>
              <descriptors>
                <entry>
                  <key>demo-schema</key>
                  <value>
                    <name>demo-schema</name>
                  </value>
                </entry>
              </descriptors>
              <name>AvroSchemaRegistry</name>
              <persistsState>false</persistsState>
              <properties>
                <entry>
                  <key>demo-schema</key>
                  <value>{
  "name": "recordFormatName",
  "namespace": "nifi.examples",
  "type": "record",
  "fields": [
    { "name": "rfid", "type": "int" },
    { "name": "temp", "type": "int" },
    { "name": "humidity", "type": "int" },
    { "name": "biochem", "type": "int" }
  ]
}</value>
                </entry>
              </properties>
              <state>ENABLED</state>
              <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
            </controllerServices>
            <controllerServices>
              <id>7ad45726-69e4-3cf1-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <comments></comments>
              <descriptors>
                <entry>
                  <key>schema-access-strategy</key>
                  <value>
                    <name>schema-access-strategy</name>
                  </value>
                </entry>
                <entry>
                  <key>schema-registry</key>
                  <value>
                    <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                    <name>schema-registry</name>
                  </value>
                </entry>
                <entry>
                  <key>schema-name</key>
                  <value>
                    <name>schema-name</name>
                  </value>
                </entry>
                <entry>
                  <key>schema-text</key>
                  <value>
                    <name>schema-text</name>
                  </value>
                </entry>
                <entry>
                  <key>Date Format</key>
                  <value>
                    <name>Date Format</name>
                  </value>
                </entry>
                <entry>
                  <key>Time Format</key>
                  <value>
                    <name>Time Format</name>
                  </value>
                </entry>
                <entry>
                  <key>Timestamp Format</key>
                  <value>
                    <name>Timestamp Format</name>
                  </value>
                </entry>
                <entry>
                  <key>CSV Format</key>
                  <value>
                    <name>CSV Format</name>
                  </value>
                </entry>
                <entry>
                  <key>Value Separator</key>
                  <value>
                    <name>Value Separator</name>
                  </value>
                </entry>
                <entry>
                  <key>Skip Header Line</key>
                  <value>
                    <name>Skip Header Line</name>
                  </value>
                </entry>
                <entry>
                  <key>Quote Character</key>
                  <value>
                    <name>Quote Character</name>
                  </value>
                </entry>
                <entry>
                  <key>Escape Character</key>
                  <value>
                    <name>Escape Character</name>
                  </value>
                </entry>
                <entry>
                  <key>Comment Marker</key>
                  <value>
                    <name>Comment Marker</name>
                  </value>
                </entry>
                <entry>
                  <key>Null String</key>
                  <value>
                    <name>Null String</name>
                  </value>
                </entry>
                <entry>
                  <key>Trim Fields</key>
                  <value>
                    <name>Trim Fields</name>
                  </value>
                </entry>
              </descriptors>
              <name>CSVReader</name>
              <persistsState>false</persistsState>
              <properties>
                <entry>
                  <key>schema-access-strategy</key>
                  <value>schema-name</value>
                </entry>
                <entry>
                  <key>schema-registry</key>
                  <value>24bcae88-b572-39ef-0000-000000000000</value>
                </entry>
                <entry>
                  <key>schema-name</key>
                  <value>${schema.name}</value>
                </entry>
                <entry>
                  <key>schema-text</key>
                  <value>${avro.schema}</value>
                </entry>
                <entry>
                  <key>Date Format</key>
                </entry>
                <entry>
                  <key>Time Format</key>
                </entry>
                <entry>
                  <key>Timestamp Format</key>
                </entry>
                <entry>
                  <key>CSV Format</key>
                  <value>custom</value>
                </entry>
                <entry>
                  <key>Value Separator</key>
                  <value>,</value>
                </entry>
                <entry>
                  <key>Skip Header Line</key>
                  <value>true</value>
                </entry>
                <entry>
                  <key>Quote Character</key>
                  <value>"</value>
                </entry>
                <entry>
                  <key>Escape Character</key>
                  <value>\</value>
                </entry>
                <entry>
                  <key>Comment Marker</key>
                </entry>
                <entry>
                  <key>Null String</key>
                </entry>
                <entry>
                  <key>Trim Fields</key>
                  <value>true</value>
                </entry>
              </properties>
              <state>DISABLED</state>
              <type>org.apache.nifi.csv.CSVReader</type>
            </controllerServices>
            <processors>
              <id>92026ea8-c76e-374f-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <position>
                <x>2476.0163437320593</x>
                <y>-457.90966340000654</y>
              </position>
              <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>
                      <name>Delete Attributes Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>
                      <name>Store State</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                    <value>
                      <name>Stateful Variables Initial Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>schema.name</key>
                    <value>
                      <name>schema.name</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>temp</value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>Do not store state</value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                  </entry>
                  <entry>
                    <key>schema.name</key>
                    <value>demo-schema</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>UpdateAttribute</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
            </processors>
            <processors>
              <id>cf58e5ec-1417-3fb2-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <position>
                <x>2482.21405314507</x>
                <y>-657.1703164598281</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Input Directory</key>
                    <value>
                      <name>Input Directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>File Filter</key>
                    <value>
                      <name>File Filter</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Path Filter</key>
                    <value>
                      <name>Path Filter</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>
                      <name>Batch Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Keep Source File</key>
                    <value>
                      <name>Keep Source File</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Recurse Subdirectories</key>
                    <value>
                      <name>Recurse Subdirectories</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Polling Interval</key>
                    <value>
                      <name>Polling Interval</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Hidden Files</key>
                    <value>
                      <name>Ignore Hidden Files</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Minimum File Age</key>
                    <value>
                      <name>Minimum File Age</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum File Age</key>
                    <value>
                      <name>Maximum File Age</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Minimum File Size</key>
                    <value>
                      <name>Minimum File Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum File Size</key>
                    <value>
                      <name>Maximum File Size</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Input Directory</key>
                    <value>/home/shrihari/just_nifi/csv</value>
                  </entry>
                  <entry>
                    <key>File Filter</key>
                    <value>[^\.].*</value>
                  </entry>
                  <entry>
                    <key>Path Filter</key>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>10</value>
                  </entry>
                  <entry>
                    <key>Keep Source File</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Recurse Subdirectories</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Polling Interval</key>
                    <value>0 sec</value>
                  </entry>
                  <entry>
                    <key>Ignore Hidden Files</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Minimum File Age</key>
                    <value>0 sec</value>
                  </entry>
                  <entry>
                    <key>Maximum File Age</key>
                  </entry>
                  <entry>
                    <key>Minimum File Size</key>
                    <value>0 B</value>
                  </entry>
                  <entry>
                    <key>Maximum File Size</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GetFile</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.GetFile</type>
            </processors>
            <processors>
              <id>defaa194-b417-35b3-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <position>
                <x>3208.806397296747</x>
                <y>-3.2237984817604683</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Directory</key>
                    <value>
                      <name>Directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Conflict Resolution Strategy</key>
                    <value>
                      <name>Conflict Resolution Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Create Missing Directories</key>
                    <value>
                      <name>Create Missing Directories</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum File Count</key>
                    <value>
                      <name>Maximum File Count</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Last Modified Time</key>
                    <value>
                      <name>Last Modified Time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Permissions</key>
                    <value>
                      <name>Permissions</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Owner</key>
                    <value>
                      <name>Owner</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Group</key>
                    <value>
                      <name>Group</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Directory</key>
                    <value>/home/shrihari/back up/xyza</value>
                  </entry>
                  <entry>
                    <key>Conflict Resolution Strategy</key>
                    <value>fail</value>
                  </entry>
                  <entry>
                    <key>Create Missing Directories</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Maximum File Count</key>
                  </entry>
                  <entry>
                    <key>Last Modified Time</key>
                  </entry>
                  <entry>
                    <key>Permissions</key>
                  </entry>
                  <entry>
                    <key>Owner</key>
                  </entry>
                  <entry>
                    <key>Group</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>PutFile</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.PutFile</type>
            </processors>
            <processors>
              <id>f03ea7f3-3104-3b1b-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <position>
                <x>2474.416953451558</x>
                <y>-272.64292033411897</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>record-reader</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                      <name>record-reader</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                      <name>record-writer</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>record-reader</key>
                    <value>7ad45726-69e4-3cf1-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>d108a9a5-2061-367d-0000-000000000000</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ConvertRecord</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ConvertRecord</type>
            </processors>
            <processors>
              <id>1299c137-02e2-3e12-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <position>
                <x>2477.855469562372</x>
                <y>90.36702183073953</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Directory</key>
                    <value>
                      <name>Directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Conflict Resolution Strategy</key>
                    <value>
                      <name>Conflict Resolution Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Create Missing Directories</key>
                    <value>
                      <name>Create Missing Directories</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum File Count</key>
                    <value>
                      <name>Maximum File Count</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Last Modified Time</key>
                    <value>
                      <name>Last Modified Time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Permissions</key>
                    <value>
                      <name>Permissions</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Owner</key>
                    <value>
                      <name>Owner</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Group</key>
                    <value>
                      <name>Group</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Directory</key>
                    <value>/home/shrihari/back up/abcd</value>
                  </entry>
                  <entry>
                    <key>Conflict Resolution Strategy</key>
                    <value>fail</value>
                  </entry>
                  <entry>
                    <key>Create Missing Directories</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Maximum File Count</key>
                  </entry>
                  <entry>
                    <key>Last Modified Time</key>
                  </entry>
                  <entry>
                    <key>Permissions</key>
                  </entry>
                  <entry>
                    <key>Owner</key>
                  </entry>
                  <entry>
                    <key>Group</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>PutFile</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.PutFile</type>
            </processors>
            <processors>
              <id>487d08ed-dcd4-3f71-0000-000000000000</id>
              <parentGroupId>5319af9d-2f2b-3f1d-0000-000000000000</parentGroupId>
              <position>
                <x>2485.85006546105</x>
                <y>-96.416292821002</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Destination</key>
                    <value>
                      <name>Destination</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>
                      <name>Return Type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Path Not Found Behavior</key>
                    <value>
                      <name>Path Not Found Behavior</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Null Value Representation</key>
                    <value>
                      <name>Null Value Representation</name>
                    </value>
                  </entry>
                  <entry>
                    <key>content</key>
                    <value>
                      <name>content</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Destination</key>
                    <value>flowfile-content</value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>auto-detect</value>
                  </entry>
                  <entry>
                    <key>Path Not Found Behavior</key>
                    <value>ignore</value>
                  </entry>
                  <entry>
                    <key>Null Value Representation</key>
                    <value>empty string</value>
                  </entry>
                  <entry>
                    <key>content</key>
                    <value>$.[?(@.temp&gt;='63')]</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>EvaluateJsonPath</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
            </processors>
          </contents>
          <name>convert csv to json</name>
        </processGroups>
        <processGroups>
          <id>7897bef5-79a3-3f53-0000-000000000000</id>
          <parentGroupId>d6be35df-806f-3c8e-0000-000000000000</parentGroupId>
          <position>
            <x>1162.0150985646717</x>
            <y>71.71139914569699</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>9f010fbf-9208-3ef7-0000-000000000000</id>
              <parentGroupId>7897bef5-79a3-3f53-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>1143.9624272723804</x>
                <y>-25.146276666202766</y>
              </bends>
              <bends>
                <x>1143.9624272723804</x>
                <y>24.853723333797234</y>
              </bends>
              <destination>
                <groupId>7897bef5-79a3-3f53-0000-000000000000</groupId>
                <id>5c427a1e-6b44-3054-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>7897bef5-79a3-3f53-0000-000000000000</groupId>
                <id>5c427a1e-6b44-3054-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>551e7fcd-8f4b-3baf-0000-000000000000</id>
              <parentGroupId>7897bef5-79a3-3f53-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 MB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>1</backPressureObjectThreshold>
              <destination>
                <groupId>7897bef5-79a3-3f53-0000-000000000000</groupId>
                <id>5c427a1e-6b44-3054-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>7897bef5-79a3-3f53-0000-000000000000</groupId>
                <id>691e9f28-7498-3490-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <processors>
              <id>5c427a1e-6b44-3054-0000-000000000000</id>
              <parentGroupId>7897bef5-79a3-3f53-0000-000000000000</parentGroupId>
              <position>
                <x>688.9624272723803</x>
                <y>-65.14627666620277</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Directory</key>
                    <value>
                      <name>Directory</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Conflict Resolution Strategy</key>
                    <value>
                      <name>Conflict Resolution Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Create Missing Directories</key>
                    <value>
                      <name>Create Missing Directories</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum File Count</key>
                    <value>
                      <name>Maximum File Count</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Last Modified Time</key>
                    <value>
                      <name>Last Modified Time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Permissions</key>
                    <value>
                      <name>Permissions</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Owner</key>
                    <value>
                      <name>Owner</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Group</key>
                    <value>
                      <name>Group</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Directory</key>
                    <value>/home/shrihari/just_nifi/files</value>
                  </entry>
                  <entry>
                    <key>Conflict Resolution Strategy</key>
                    <value>fail</value>
                  </entry>
                  <entry>
                    <key>Create Missing Directories</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Maximum File Count</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>Last Modified Time</key>
                  </entry>
                  <entry>
                    <key>Permissions</key>
                  </entry>
                  <entry>
                    <key>Owner</key>
                  </entry>
                  <entry>
                    <key>Group</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>PutFile</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.PutFile</type>
            </processors>
            <processors>
              <id>691e9f28-7498-3490-0000-000000000000</id>
              <parentGroupId>7897bef5-79a3-3f53-0000-000000000000</parentGroupId>
              <position>
                <x>689.5064336200364</x>
                <y>-301.6803648009684</y>
              </position>
              <bundle>
                <artifact>nifi-mongodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Mongo URI</key>
                    <value>
                      <name>Mongo URI</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Mongo Database Name</key>
                    <value>
                      <name>Mongo Database Name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Mongo Collection Name</key>
                    <value>
                      <name>Mongo Collection Name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl-context-service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>ssl-context-service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl-client-auth</key>
                    <value>
                      <name>ssl-client-auth</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Query</key>
                    <value>
                      <name>Query</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Projection</key>
                    <value>
                      <name>Projection</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Sort</key>
                    <value>
                      <name>Sort</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Limit</key>
                    <value>
                      <name>Limit</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>
                      <name>Batch Size</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Mongo URI</key>
                    <value>mongodb://127.0.01:27017/</value>
                  </entry>
                  <entry>
                    <key>Mongo Database Name</key>
                    <value>testdb</value>
                  </entry>
                  <entry>
                    <key>Mongo Collection Name</key>
                    <value>tabletest</value>
                  </entry>
                  <entry>
                    <key>ssl-context-service</key>
                  </entry>
                  <entry>
                    <key>ssl-client-auth</key>
                    <value>REQUIRED</value>
                  </entry>
                  <entry>
                    <key>Query</key>
                  </entry>
                  <entry>
                    <key>Projection</key>
                  </entry>
                  <entry>
                    <key>Sort</key>
                  </entry>
                  <entry>
                    <key>Limit</key>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>2 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GetMongo</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.mongodb.GetMongo</type>
            </processors>
          </contents>
          <name>get db</name>
        </processGroups>
      </contents>
      <name>demo1</name>
    </processGroups>
  </snippet>
  <timestamp>08/02/2017 13:32:24 IST</timestamp>
</template>